@charset "UTF-8";
/* IMPORTS */
/* varela */
@import url("https://fonts.googleapis.com/css2?family=Varela&display=swap");
/* source sans */
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
/* colors */
/* NORMALIZE */
* {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* STYLE NAVBAR */
#navbarNav {
  background-color: #000;
  margin: auto;
  padding: 35px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

#navbarNav ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

#navbarNav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.1em;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
}

#navbarNav ul li a:hover {
  color: #FFD700;
}

#navbarNav ul li a:hover::before {
  width: 100%;
}

#navbarNav ul li a::before {
  content: "";
  height: 1px;
  width: 0;
  background: #FFD700;
  position: absolute;
  left: 0%;
  bottom: -1px;
  -webkit-transition: 0.1s ease-out;
  transition: 0.1s ease-out;
}

.navbar {
  padding: 0;
  background-color: #181a1b;
}

.navbar img {
  width: 7em;
  background-color: #000;
}

.container-fluid {
  padding: 0;
  background-color: #181a1b;
}

/* SYLES PÁGINA PRINCIPAL */
.presentacion h1 {
  padding: .5em 0;
}

.presentacion p {
  padding: .5em 0;
}

.quienSoy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  background-color: #000;
  width: 100%;
  height: 50vw;
  text-align: center;
  padding-bottom: 10em;
}

.presentacion {
  font-family: 'Source Sans Pro', sans-serif;
}

.presentacion h1 {
  font-size: 3em;
}

.presentacion p {
  font-size: 1.5em;
}

.containerInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 55vw;
  background-image: url(../img/fotoDesktop.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.info {
  text-align: center;
  text-shadow: #000 1px 1px;
  color: #fff;
}

.info h2 {
  font-size: 2em;
  font-weight: bold;
}

.info p {
  font-size: 1.5em;
  padding-top: .7em;
}

.info__2 {
  text-align: center;
  color: #fff;
}

.info__2 h3 {
  font-size: 2em;
  font-weight: bold;
}

.info__2 p {
  font-size: 1.5em;
  padding-top: .7em;
}

.containerInfo__2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 58vw;
  background-color: #181a1b;
}

.containerInfo__3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 52.5vw;
  background-image: url(../img/comunidad.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.comunidadTitle {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  font-size: 2em;
  color: #fff;
}

.infoContacto {
  padding: 3em 0;
}

.infoContacto a {
  color: #fff;
}

@media (min-width: 320px) and (max-width: 480px) {
  /* STYLE PÁGINA BASE */
  .containerNav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .quienSoy {
    height: 62.5em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .containerInfo {
    height: 62.5em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .containerInfo iframe {
    width: 90%;
  }
  .containerInfo__2 {
    height: 62.5em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .containerInfo__3 {
    height: 62.5em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .containerInfo__3 .info__2 .infoContacto iframe {
    width: 90%;
  }
}
/*# sourceMappingURL=styles.css.map */