/* IMPORTS */
@import 'import';
@import 'vars';

/* NORMALIZE */
* {
	margin: 0%;
	padding: 0%;
	box-sizing: border-box;
}

/* STYLE NAVBAR */
#navbarNav {
	background-color: $backgroundPage; 
	margin: auto;
	padding: 35px 0;
	align-items: center;
	justify-content: end;
	position: sticky;
	top: 0;
	a{
		color: #fff;
	}
	ul {
		li {
			list-style: none;
			display: inline-block;
			margin: 0 20px;
			position: relative;

			a {
				color: rgb(255, 255, 255);
				text-decoration: none;
				font-size: 1.1em;
				font-family: 'Quicksand', sans-serif;
				font-weight: 700;

				&:hover {
					color: $colorPrincipal;

					&::before {
						width: 100%;
					}
				}

				&::before {
					content: "";
					height: 1px;
					width: 0;
					background: $colorPrincipal;
					position: absolute;
					left: 0%;
					bottom: -1px;
					transition: 0.1s ease-out;
				}
			}
		}
	}
}

.navbar {
	padding: 0;
	background-color: $backgroundPage;

	img {
		width: 7em;
		background-color: $backgroundPage;
	}
}

.container-fluid {
	padding: 0;
	background-color: $backgroundPage
}

/* SYLES PÁGINA PRINCIPAL */
.activo {
	color: #ffd90079;
}

.presentacion {
	h1 {
		padding: .5em 0;
	}

	p {
		padding: .5em 0;
	}
}

.quienSoy {
	display: flex;
	justify-content: center;
	align-items: center;
	color: rgb(255, 255, 255);
	background-color: #000;
	font-size: 1.2em;
	width: 100%;
	height: 50vw;
	text-align: center;
	padding-bottom: 10em;
}
.presentacion {
	font-family: 'Raleway', sans-serif;

	h1 {
		font-size: 3em;
	}

	p {
		font-size: 1.5em;
	}
}
.desingInfo{
	font-family: 'Raleway', sans-serif;
	font-size: 1.2em;
}
.containerInfo {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 55vw;
	background-image: url(../img/fotoDesktop.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.info {
	text-align: center;
	text-shadow: #000 1px 1px;
	color: #fff;

	h2 {
		font-size: 2em;
		font-weight: bold;
	}

	p {
		font-size: 1.5em;
		padding-top: .7em;
	}
}

.info__2 {

	text-align: center;
	color: #fff;
	font-family: 'Raleway', sans-serif;
	h3 {
		font-size: 2em;
		font-weight: bold;
	}

	p {
		font-size: 1.5em;
		padding-top: .7em;
	}
}

.containerInfo__2 {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 58vw;
	background-color: #000;
}

.containerInfo__3 {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	height: 52.5vw;
	background-image: url(../img/community.JPG);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	h4{
		font-size: 1.6em;
	}
}

.comunidadTitle {
	font-family: 'Raleway', sans-serif;
	text-align: center;
	font-size: 2em;
	color: #fff;
}

.infoContacto {
	padding: 3em 0;

	a {
		color: #fff;
	}
}
@keyframes gapAnimacion{
	0%{
		background-color: rgb(166, 51, 192);
	}
	20%{
		background-color: rgb(6, 61, 89);
	}
	40%{
		background-color: $colorPrincipal ;
	}
	60%{
		background-color: rgb(6, 61, 89);
	}
	80%{
		background-color: rgb(166, 51, 192);
	}
}

/* STYLES CURSOS */
.cursos {
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: #fff;
	font-family: 'Raleway', sans-serif;
	background-image: url(../img/texturafondo.svg) ;
	width: 100%;
	height: 50vw;
	text-align: center;
	padding-bottom: 10em;
	h1{
		font-size: 3em;
	}
	
}
.cursosDos {
	display: flex;
	justify-content: space-around;
	align-items: center;
	overflow-x: hidden;
	overflow-y: hidden;
	color: #fff;
	background-image: url(../img/texturafondo.svg) ;
	width: 100%;
	height: 50vw;
	text-align: center;
	padding-bottom: 10em;
	
}
.itemList {
	display: flex;
	justify-content: space-around;
	align-content: center;

	li {
		padding: .23em 0;
		font-size: 1.3em;
		text-align: left;
	}
}
.cardCursos {
	display: flex;
	overflow-y: hidden;
	flex-direction: column;
	justify-content: space-between;
	align-items: center; 
	font-family: 'Rubik', sans-serif;
	background: rgba(255, 215, 0, 0.55);
	box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.15);
	backdrop-filter: blur(0px);
	-webkit-backdrop-filter: blur(0px);
	border-radius: 10px;
	width: 35em;
	height: 40em;


	h2 {
		padding-top: 1.5em;
		padding-bottom: .6em;
	}
	ul{
		padding-bottom: 2em;
	}
}
.botonCompra{
	width: 30%;
	margin-bottom:3em;
}
.aCounter{
	text-decoration: none; 
}
/*TERMINA STYLES CURSOS */

/* STYLES BLOCKCHAIN */
.cardBlockchain {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	background: rgba(24, 26, 27, 0.55);
	box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.15);
	backdrop-filter: blur(0px);
	-webkit-backdrop-filter: blur(0px);
	border-radius: 10px;
	font-family: 'Merriweather', serif;
	font-size: 1.3em;
	width: 75em;
	height: 30em;

	h2 {
		align-items: center;
		padding-top: 1.5em;
		padding-bottom: .6em;
	}
}
.blockchainVentajas{
	display: flex;
	justify-content: center;
	padding-top: 15em;
	font-family: 'Signika Negative', sans-serif;
}
.textoBlockchain{
 width: 60%;
 font-size: 1.4em;
 ul{
	li{
		list-style: none;
	}
 }
}
.gifBlockchain{
	padding-top: 4em;
}
.textoBlockchain{
	li{
		padding-top: .5em;
	}
}
/* TERMINA STYLES BLOCKHAIN */
/* GAPS */
.gapInfo {
	padding-top: 1em;
}

.greenGap {
	margin: auto;
	width: 3%;
	height: 3px;
	background-color: $colorPrincipal;
	animation: gapAnimacion 6s  3s infinite;
}

@media (min-width: 769px) and (max-width: 1024px) {

	/* STYLE PÁGINA BASE */
	.containerNav {
		flex-direction: row-reverse;
	}

	.quienSoy {
		height: 62.5em;
		flex-direction: column;
	}

	.containerInfo {
		height: 62.5em;
		flex-direction: column;

		iframe {
			width: 90%;
		}
	}

	.containerInfo__2 {
		height: 62.5em;
		flex-direction: column;
	}

	.containerInfo__3 {
		height: 62.5em;
		flex-direction: column;

		.info__2 {
			.infoContacto {
				iframe {
					width: 90%;
				}
			}
		}
	}

}

@media (min-width: 481px) and (max-width: 768px) {

	/* STYLE PÁGINA BASE */

	.quienSoy {
		height: 62.5em;
		flex-direction: column;
	}

	.containerInfo {
		height: 62.5em;
		flex-direction: column;

		iframe {
			width: 90%;
		}
	}

	.containerInfo__2 {
		height: 62.5em;
		flex-direction: column;
	}

	.containerInfo__3 {
		height: 62.5em;
		flex-direction: column;

		.info__2 {
			.infoContacto {
				iframe {
					width: 90%;
				}
			}
		}
	}

}

@media (min-width: 320px) and (max-width: 480px) {

	/* STYLE PÁGINA BASE */
	.containerNav {
		flex-direction: row-reverse;
	}

	.quienSoy {
		height: 62.5em;
		flex-direction: column;
	}

	.containerInfo {
		height: 62.5em;
		flex-direction: column;

		iframe {
			width: 90%;
		}
	}

	.containerInfo__2 {
		height: 62.5em;
		flex-direction: column;
	}

	.containerInfo__3 {
		height: 62.5em;
		flex-direction: column;

		.info__2 {
			.infoContacto {
				iframe {
					width: 90%;
				}
			}
		}
	}

	/* STYLES CURSOS */
	.cursos{
		height: 62.5em;
		flex-direction: column;
	}
	.cursosDos{
		height: 110em;
		flex-direction: column;
	}
	.cardCursos{
		margin-top: 3em;
		width: 90%;
		height: 77em;
		padding-bottom: .5em;
		h2{
			font-size: 2em;
		}
		ul{
			li{
				font-size:1.3em
			}
		}
	}
}